<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>747395569367-n05b9qt32n9aohp7krvsps3mg75o8k39.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.747395569367-n05b9qt32n9aohp7krvsps3mg75o8k39</string>
	<key>API_KEY</key>
	<string>AIzaSyBZZACWbIeIX0ZaaQ_zMjhnpireYPulmJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>747395569367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mynotesfinal</string>
	<key>PROJECT_ID</key>
	<string>mynotes-moazfinalnew</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-moazfinalnew.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:747395569367:ios:05b5649d788d20043bc292</string>
</dict>
</plist>